body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
  }

  li:last-child {
    border-bottom: none;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .add-task {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .add-task input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }

  .add-task button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .complete-all {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .complete-all input[type="checkbox"] {
    margin-right: 10px;
  }
  .content{
    margin: 0 75px 0 75px;
  }

  .add-task button:disabled {
    background-color: #838383;

}